# PYTHON 3 BEGINNER NOTES

In [2]:
print("Hello world")

Hello world

In [3]:
a,b=(10,20)
print(a)

10

In [4]:
print(b)

20

In [5]:
x,y=[3,5]
print(x)

3

In [43]:
str="Hello"
print(str)

Hello

In [ ]:
x,y=(50,60)
print('x=',x)
print("y=",y)

x= 50
y= 60

In [7]:
x,y=(50,60)
print('x=',x,"y=",y)

x= 50 y= 60

In [8]:
a,b,c=20,330,40
print("(a,b,c)=",(a,b,c))

(a,b,c)= (20, 330, 40)

In [10]:
p,*q="hello" 
print(p)

h

In [11]:
print(q)

['e', 'l', 'l', 'o']

In [13]:
s,*n="venkatesh"
print(n)

['e', 'n', 'k', 'a', 't', 'e', 's', 'h']

In [14]:
print(s)

v

In [15]:
n,*s="venkatesh"
print(s)

['e', 'n', 'k', 'a', 't', 'e', 's', 'h']

In [17]:
a=b=c=1729
print(a)

1729

In [18]:
print(a)

1729

In [19]:
print(b)

1729

In [20]:
x=81
a=x+81
print("the value of a=",a)

the value of a= 162

In [21]:
a=5
print(type(a))

<class 'int'>

In [97]:
print(int(True)) #True=1

1

In [98]:
print(int(False)) #False=0

0

In [99]:
print(int(True+True))

2

In [100]:
print(int(True+False))

1

In [101]:
a=5.6
print(type(a))

<class 'float'>

In [102]:
print(float("10.5")) #type casting

10.5

In [28]:
print(float("10"))

10.0

In [29]:
print(float(True+True))

2.0

In [30]:
print(float("10.5"))

10.5

In [31]:
print(complex(10))

(10+0j)

In [32]:
print(complex(10.5))

(10.5+0j)

In [33]:
print(complex(True+True+False))

(2+0j)

In [34]:
print(bool(0))

False

In [35]:
print(bool(10))

True

In [36]:
print(bool(-105))

True

In [37]:
print(bool(0+0j))

False

In [38]:
print(bool(True))

True

In [39]:
print(bool(False))

False

In [40]:
a="hello"
print(a)

hello

In [46]:
a=2
b=9.8
c="venkatesh"
str="venkatesh"
print(type(a))
print(type(b))
print(type(c))
print(str)
print(float(a))

<class 'int'>
<class 'float'>
<class 'str'>
venkatesh
2.0

In [47]:
x,y=(20,30)
print("(x,y)=",(x,y))
print('x=',x,"y=",y)

(x,y)= (20, 30)
x= 20 y= 30

In [48]:
s,n,v,*r="venkatesh1729"
k,*g="123456789"
print(s)
print(n)
print(v)
print(r)
print(g)

v
e
n
['k', 'a', 't', 'e', 's', 'h', '1', '7', '2', '9']
['2', '3', '4', '5', '6', '7', '8', '9']

In [50]:
a=b=c=1729
print("value a=",a)
print("value b=",b)
print("value c=",c)

value a= 1729
value b= 1729
value c= 1729

In [51]:
x=996
a=x+1729
b=x-52
c=x*32
d=x<a
e=x>c
print("value of a=",a)
print("value of b=",b)
print("value of c=",c)
print(d)
print(e)

value of a= 2725
value of b= 944
value of c= 31872
True
False

In [52]:
x,y=(20,30.6)
a=x+y
b=x*y
f=y>x
c=a+b
d=c*52
l,m=(c,d)
print("(c,d)=",(c,d))
print(f)
print(type(c))
print(type(d))
p,*q="1234567899"
print(p)
print(q)

(c,d)= (662.6, 34455.200000000004)
True
<class 'float'>
<class 'float'>
1
['2', '3', '4', '5', '6', '7', '8', '9', '9']

In [56]:
a=int(input())
b=int(input())

a, b

(20, 60)

In [57]:
print(a+b)

80

In [58]:
print("a")

a

In [61]:
a=int(input()) #input from user
a=int(input("enter the value for varible a:"))
a

9

In [62]:
a=int(input("enter the value of a "))
a

1729

In [63]:
print("hello!")
print("welcome to python")

hello!
welcome to python

In [65]:
a=input().split(" ") #split formate
print(a)

['10', '30', '50', '20', '40']

In [68]:
print("hello!","welocome","to","python",end=" ") #by default end="\n"
print("this is venkatesh bingi",sep="\n") #by default sep=" "

hello! welocome to python this is venkatesh bingi

In [70]:
a=10
b=20
c=30

print("sum:",(a+b+c))
print("multipilication:",(a*b*c))
print("division:",(a/b/c))

sum: 60
multipilication: 6000
division: 0.016666666666666666

In [96]:
a=20
b=60.523
print("%d is an integer and %f is float"%(a,b))
print("a is an interger",(a),"and b is a float",(b))
print("a=%d is an integer"%(a),"and b=%.1f is a float"%(b))
print(a,"is an ineger",b,"is afloat")
print(a**b,a+b,a-b,a/b,a//b,a*b,a%b,sep="\n")

20 is an integer and 60.523000 is float
a is an interger 20 and b is a float 60.523
a=20 is an integer and b=60.5 is a float
20 is an ineger 60.523 is afloat
5.523806128820348e+78
80.523
-40.523
0.33045288567982417
0.0
1210.46
20.0

In [74]:
a+=60   #a=a+60
a-=60   #a=a-60
b*=20   #b=b*20
b/=3    #b=b/3
b%=2    #b=b%2
a//=5   #b=b//5
print(a) 
print(b)
print(a==b,a<b,a>b,a!=b,a<=b,a>=b) #comparison

0
1.9111111111111914
False True False True True False

In [76]:
if a==b:
    if a>b:
        print("a is equal to b")
        print("a is greater than b")
    elif b>a:
        print("b is greater than a")
else:
    print("a is not equal to b")

a is not equal to b

In [95]:
a=4
b=2 
c=1
print(a&b,a^b,~a,~b) #bitwise
print(a>>2,b>>2,a<<2,b<<2) #bitwise
print((a>b and a>c),(b>a or b>c)) #logical
print(not a>b,not b>a,not c>a,not c>b,not b>c,not a>c) #logical

# Refer this: https://www.geeksforgeeks.org/python-bitwise-operators/

0 6 -5 -3
1 0 16 8
True True
False True True True False False

In [93]:
print(10/3) #division

3.3333333333333335

In [94]:
print(10//3) #floor division

3

In [79]:
a=10
b=20
c=a<b
d=a>=b
print(c)
print(d)

True
False

In [82]:
a=150
b=100
c=a<b
d=a>b
print(c)
print(d)

False
True

In [91]:
c=10/3
print("c = %.3f" %c) #3 decimal places

c = 3.333

In [92]:
print(6**2) #Power

36

In [103]:
a=20
b=20
a+=30
print(a)

50

In [104]:
a=20
b=60.523
a+=60
a-=60
b*=20
b/=3
b%=2
a//=5
print(a,sep=" ")
print(b,sep=" ")
a=4
b=2

4
1.4866666666666788

In [105]:
a=20
a+=60
print(a)

80

In [106]:
a=20
a-=60
print(a)

-40

In [107]:
a=20
a//=60
print(a)

0

In [108]:
a=20
a+=60
a-=60
a//=5
print(a,sep=" ")

4

In [109]:
a=20
b=30
if a==b:
    print("a equal to b")
else:
    print("a not equal to b")

a not equal to b

In [110]:
a=20
b=30
print(a==b,a>b)

False False

In [111]:
a=20
b=30
c=50
print(not b>a)

False

In [113]:
a=5
print(~b) #bitwise not

-31

In [114]:
if 10>0:
    #print("positive number")
    print("10 is greater")
else:
    print("10 is smaller")

10 is greater

In [115]:
if 15>0:
    """print("positive number")"""
    print("15 is greater")
else:
    print("negitive number")

15 is greater

In [117]:
if int:
    '''print(" natural number")'''
    print("1729 is positive number")
    print("17 is less than 29")
else:
    print("")

1729 is positive number
17 is less than 29

In [119]:
f=None

for i in range(5):
    with open("data.txt","w") as f:
        if i>2:
            break
            
print(f.closed)

True

In [120]:
a=(int(input("value of a:")))
b=(int(input("value of b:")))
c=(int(input("value of c:")))
if a>b:
    if a>c:
        print("a is big")
else:
    if b>c:
        print("b is big")
    else:
        print("c is big")

c is big

In [121]:
n=int(input("enter n value"))
i=0 #loop variable
while i<=n:
    print(i,end=" ")
    i=i+1

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14

In [122]:
for i in range (0,15,2):
    print(i,end=" ")

0 2 4 6 8 10 12 14

In [125]:
str="python"
for letter in str:
    print(letter,end="") #print letter by letter

python

In [127]:
l=[10,20,30,40,50,60]
for ele in l:
    print(ele,end=" ")

10 20 30 40 50 60

In [132]:
for i in range(5):
    for j in range(5):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [133]:
for i in range(1):
    for j in range(5):
        print("*",end=" ")
    print("")
for i in range(1):
    for j in range(4):
        print("*",end=" ")
    print(" ")
for i in range(1):
    for j in range(3):
        print("*",end=" ")
    print(" ")

* * * * *
* * * *
* * *

In [134]:
for i in range(10):
    if i==5:
        break
    else:
        print(i,end=" ")

0 1 2 3 4

In [137]:
for i in range(10):
    if i==5:
        continue 
    else:
        print(i,end=" ")

0 1 2 3 4 6 7 8 9

In [138]:
for i in range(10):
    if i==5:
        pass 
    else:
        print(i,end=" ")

0 1 2 3 4 6 7 8 9

In [140]:
i=1
while i<=10:
    if i==5:
        pass
    print(i,end=" ")
    i=i+1

1 2 3 4 5 6 7 8 9 10

# MATH MODULE

In [ ]:
# MATH having different functions called with (math.)--> these functions are bulit in functions
# mathematical functions(math.) ---> before use of mathfunction we have to (IMPORT MATH).
# ceil(x)          fsum(iterable)    cos(x)    inf
# copysign(x,y)    ged(x,y)          tan(x)    nan
# fabs(x)          pow(x,y)          pi
# factorial(x)     sqrt(x)           e
# floor(x)         sin(x)            tau

In [142]:
import math                 # MATH.(format)--->import of mathematics by math. format 
a=10
b=-20
l=[10,20,30]
print(math.ceil(10.3));     # nearest greater integervalue can be identify  
print(math.copysign(a,b));  # copy the sign of b to a (a is -,b is +,then a is +)
print(math.fabs(b));        # negetive value can be identify as positive
print(math.factorial(5));   # factorial values are identify (n!)
print(math.floor(10.9));    # floor values are identify(below nearest integer value)
print(math.fsum(l));        # sum of the list values 
print(math.gcd(3,10));      # GCD values are identify
print(math.pow(2,3));       # power function to use the values are identify
print(math.sqrt(16));       # sqaure values are identify 
print(math.sin(60));        # sin functions can be update the value as given angles
print(math.cos(60));        # cos functions can be update the value as given angles
print(math.tan(60));        # tan functions can be update the value as given angles 
print(math.pi);             # pie having value be given below
print(math.e);              # exponential having value be given below
c=math.inf                  # infinite value be inf (undefined can be print as inf)
print(c)
d=math.nan                  # nun value be the 0 that can be print as the nun
print(d)

11
-10.0
20.0
120
10
60.0
1
8.0
4.0
-0.3048106211022167
-0.9524129804151563
0.320040389379563
3.141592653589793
2.718281828459045
inf
nan

In [143]:
import math
a=10
b=-20
print(math.copysign(a,b)) #copy the sign of b to a

-10.0

# RANDOM FUNCTIONS

In [ ]:
# CHOICE(SEQ)
# randrange(start,stop,step)
# random( )
# shuffle(list)
# uniform(x,y)

In [ ]:
import random                       # RANDOM -> import of random function
l=[10,20,30,40,50]                  # elements
print(random.choice(l));            # choice(list)  -> select one value from list of values randomly
print(random.choices(l,k=2));       # choices(list,k=number of elements)->'s' ,select no.k values from list of values
print(random.randrange(10,15,1));   # randrange(start,stop,step)
print(random.random());             # random()      -> {0 to 1}
random.shuffle(l)                   # shuffle(l)    -> list of all values to be shuffle (in place) to form a list
print(l)
print(random.uniform(10,15));       # uniform(initial value,final value) -> between value if it float value in random

30
[40, 10]
10
0.4361377179208651
[50, 40, 10, 20, 30]
11.801089129129236

In [147]:
a=[10,20,30,40,50,60]
print(a)

[10, 20, 30, 40, 50, 60]

# LIST

In [ ]:
# LIST
# CREATING LIST
# ACCESSING ELEMENTS FROM LIST.
# SLICING
# REASSIGNING LIST ELEMENTS.
# MULTI DIMENSIONAL LIST
# DELETING ELEMENTS
# BASIC OPERATIONS
       # (+,*,len,min,max,sum,membership,iterations)
# BUILT IN METHODS
       # (append,extend,insert,removal,pop,sort,count,index,reverse)

In [ ]:
a=[]             # list concept(mutable)(list create->modifications(element){add,delete,reasign})
print(type(a))

<class 'list'>

In [2]:
a=[10,20,30,40,50,60]   # ACCESSING
# index ->   0  1  2  3  4  5 (forward index)   a[5]  {forward index value is address of the list value}
# element->  10 20 30 40 50 60
# index ->  -6 -5 -4 -3 -2 -1 (backward index)  a[-1] {list length-value of give backward index = forward index}
print(a[-2])
print(a[4])

50
50

In [3]:
a=[10,20,30,40,50,60]  # SLICING [start:stop(length of list)]
print(a[0:3])
print(a[ :4])
print(a[1: ])
print(a[2:4])

[10, 20, 30]
[10, 20, 30, 40]
[20, 30, 40, 50, 60]
[30, 40]

In [ ]:
a=[10,20,30,40,50,60]  # REASSIGNING LIST ELEMENT
a[2]=25                # re-assining the value of index in place of list values
print(a)

[10, 20, 25, 40, 50, 60]

In [ ]:
a=[(10,20,30),(40,50,60)]  # MULTI DIMENSIONAL LIST TO BE READY
# element(10,20,30)  (40,50,60)
# index   0  1  2     0  1  2 
# index      0           1
print(a[0][1]);   # a[first index][second index]
b=[[(10,20),(30,40)],[(50,60),(70,80)]]
# element[(10,20),(30,40)],[(50,60),(70,80)]
# index    0  1    0  1      0   1   0  1
# index      0      1         0        1
# index          0                1
print(b[1][0][1]);  # a[first index][second index][third index]

20
60

In [4]:
a=[10,20,30] # BASIC OPERATIONS
b=[40,50,60]
print(a+b)  # sum of two elements
print(a*3)  # product with integer here a*b->(syntex error)
print(min(b)) # min()-> minimum value of list
print(max(a)) # max()-> maximum value of list
print(sum(a)) # sum()-> sum of the list value
print(len(a)) # len()->length of list
print(10 in a) # membership
print(100 in a)
for i in range(len(b)): # iterations  # for loop using by the range of length of b->i value in b
    print(b[i],end="\n")   # elements in b(value of n to be print)
b=2
print(a*b)  # b=2(index values) the (a*b correct)
for i in a:              # for loop using list of a-> for i value in a
    print(i,end=" ")    # value of n to be print

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 10, 20, 30, 10, 20, 30]
40
30
60
3
True
False
40
50
60
[10, 20, 30, 10, 20, 30]
10 20 30

In [5]:
a=[10,20,30,40]
b=[20,30,40,50]
print(min(b)); # min()-> minimum value of list
print(max(a)); # max()-> maximum value of list
print(sum(a)); # sum()-> sum of the list value
for i in a:
    print(i,end=" ")

20
40
100
10 20 30 40

In [6]:
a=list()             # BUILT-IN METHOD OR FUNCTIONS
print(a)
a.append(10)
print(a)
a.append(20)          # (VALUES ADDED FUNCTION)((.append)(.extend)(.insert))
print(a)
a.append([30,40])     # (.append) that means adding of elements --->ADDIND OF mulitiple ELEMENT-->(syntex error)-->((o/p))
print(a)
a.extend((10,20,30,40)) # (.extend) that means adding of elements-->ADDIND OF mulitiple ELEMENT-->(syntex error)-->((o/p))
print(a)
a.insert(2,50)           # (.insert) that means adding of elements--->by the middle of index address to point the value adding
print(a)
a.remove(50)         # (VALUES REMOVAL FUNCTION)((.remove)(.pop)(dela[]))
print(a)            # (.remove)--->remove the elements in the list
a.remove(10)         #  check from the straring operation
print(a)
a.remove(10)         # next opertion to remove
print(a)
a.pop(3)             # (.pop)--->(a.pop(element)--->syntex error)-->(a.pop(index value)-->o/p)
print(a)
del a[0]            # del a[index value]-->(o/p)
print(a)
import random        # IMPORT RANDOM FUNCTION 
b=[10,20,30,40,50,60]
random.shuffle(b)   # RANDOM.SHUFFLE OF LIST VALUES
print(b)
b.sort()            # .sort()-->not give any argument that means(reverse=False)[ASSENDING ORDER]
print(b)           
b.sort(reverse=True) # (.sort(reverse=True)--> given argument that means[DESSENDING ORDER])
print(b)
c=[10,20,30]        # LIST VALUES
c=c*3
print(c)            # power of times repeat the values in the list
print(c.count(20))  # .count()-->number of times,the value in the list
print(c.pop(4))     # .pop()-->to delete the value in the list by the shuffle part or index value to update
print(c)            # delete the value and remaing list availible
print(c.count(20))  # number of times,the value in the list(after deleting the element by the .pop())
print(c.index(20))  # starting to end by checking the value to be defined the first value
c.reverse()         # function (.reverse())-->by using function to reverse the list.
print(c)

[]
[10]
[10, 20]
[10, 20, [30, 40]]
[10, 20, [30, 40], 10, 20, 30, 40]
[10, 20, 50, [30, 40], 10, 20, 30, 40]
[10, 20, [30, 40], 10, 20, 30, 40]
[20, [30, 40], 10, 20, 30, 40]
[20, [30, 40], 20, 30, 40]
[20, [30, 40], 20, 40]
[[30, 40], 20, 40]
[40, 60, 20, 10, 50, 30]
[10, 20, 30, 40, 50, 60]
[60, 50, 40, 30, 20, 10]
[10, 20, 30, 10, 20, 30, 10, 20, 30]
3
20
[10, 20, 30, 10, 30, 10, 20, 30]
2
1
[30, 20, 10, 30, 10, 30, 20, 10]

In [7]:
a=[10,20,30]
a=a*3
print(a)
print(a.pop(5))
print(a)

[10, 20, 30, 10, 20, 30, 10, 20, 30]
30
[10, 20, 30, 10, 20, 10, 20, 30]

In [8]:
# LIST OF COMPHREHESION.(to create the value in the list by using the formulation)
# single line to write the code(1.expression 2.iteration 3.condition)[list operation]
a=[ele for ele in range(10)]  # element for element in that range of value to form a list (range value start from 0)
print(a)
a=[ele*ele for ele in range(10)] # element*element that means to form a square value in that list
print(a)
a=[ele for ele in range(10) if ele%2==0] # element values to avilible only in even numbers
print(a)
a=[ele*ele for ele in range(10) if ele%2==0] # element*element square values of even numbers availible
print(a)
a=[ele*3 for ele in range(10)]  # element*number(product value of list form)
print(a)
a=[ele+3 for ele in range(10)]  # element+number(addition value of list form)
print(a)
a=[ele-1 for ele in range(10)]  # element-number(subtracte value of list form)
print(a)
a=[ele/2 for ele in range(10)]  # element/number(divisible value of list form)
print(a)
a=[ele**3 for ele in range(10)] # element**number(power of list form)
print(a)
a=[ele**3 for ele in range(10) if ele%2==0] # element**number(power of list form,all in even)
print(a)
a=[ele**3 for ele in range(100) if ele%2==0]
print(a)
a=[ele**3 for ele in range(10) if ele%3==0] # element**number(power of list form,all divisible of 3)
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 2, 4, 6, 8]
[0, 4, 16, 36, 64]
[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]
[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[-1, 0, 1, 2, 3, 4, 5, 6, 7, 8]
[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
[0, 8, 64, 216, 512]
[0, 8, 64, 216, 512, 1000, 1728, 2744, 4096, 5832, 8000, 10648, 13824, 17576, 21952, 27000, 32768, 39304, 46656, 54872, 64000, 74088, 85184, 97336, 110592, 125000, 140608, 157464, 175616, 195112, 216000, 238328, 262144, 287496, 314432, 343000, 373248, 405224, 438976, 474552, 512000, 551368, 592704, 636056, 681472, 729000, 778688, 830584, 884736, 941192]
[0, 27, 216, 729]

# TUPLE

In [9]:
# TUPLE -->immutable
# CREATING TUPLE
# ACCESSING ELEMENTS FROM TUPLE.
# SLICING
# REASSIGNING TUPLE ELEMENTS.
# DELETING ELEMENTS
# NESTED TUPLE
# BASIC OPERATIONS
       # (+,*,min,max,sum,membership,iterations)
# BUILT IN METHODS
      # (COUNT,INDEX)
    # remaing opertions must be covertion of list operations & recovertion of list into tuple

In [10]:
t=()              # creating tuple()--> by using this brackets(), not use[]
print(type(t))
t=tuple()
print(t)
t=(10)            # () use this brackets not to get the in the tuple function (we get integer values) 
print(type(t))
t=(10,)           # (digit,) this function use to get tuple value
print(type(t))
t1=(10,20,30,40,50) # ACCESSING ELEMENTS FROM TUPLE
print(t1[2])       # forward index
print(t1[-2])      # backward index
print(t1[:])       # SLICING 
print(t1[1:4]) 
print(t1[:3])
print(t1[0:]) 
# REASSIGNING TUPLE ELEMENT
t2=(10,20,30,40,50)   # when reassigning position tuple opertion not worked it's converted into list operations
l=list(t2)            #  converting tuple to list 
print(l)           
l[2]=25               # reassiging the value in the list
print(l)
t2=tuple(l)           # after completing the list to be converted into the tuple
print(t2)
# by the tuple function which we can't change some function that must be change tuple into the list 
# after complete the operations to be converted list into tuple
l=list(t2)
print(l)
l.append(60)
print(l)
t2=tuple(l)
print(t2)

<class 'tuple'>
()
<class 'int'>
<class 'tuple'>
30
40
(10, 20, 30, 40, 50)
(20, 30, 40)
(10, 20, 30)
(10, 20, 30, 40, 50)
[10, 20, 30, 40, 50]
[10, 20, 25, 40, 50]
(10, 20, 25, 40, 50)
[10, 20, 25, 40, 50]
[10, 20, 25, 40, 50, 60]
(10, 20, 25, 40, 50, 60)

In [ ]:
# NESTED TUPLE
t=((10,20),(30,40))
print(t[0][1])          # defined to find the value by usig the index address
print(t[1][1])
t1=(10,2.5,"python")    # string must be accepting multiple data types
print(t1)

20
40
(10, 2.5, 'python')

In [12]:
# BASIC OPERATIONS:
t1=(10,20,30)
t2=(40,50,60)
print(t1+t2)     # sum of two operations 
t=t1+t2           
print(t)
print(t1*3)      # product operation using digit value
q=2
print(t1*q)      #  by using variable of a value of digit
print(len(t1))   # length operations to find number of digit.
print(len(t2))
print(min(t1))   # minimum value to find by this operation
print(min(t2))   
print(max(t1))   # maximum value to find by this operation
print(max(t2))
print(sum(t))    # sum of tuple values by this operation
print(10 in t)   # MEMBERSHIP by boloon opertion to find if it is true or false
print(100 in t)
for ele in t:     # ITERATIONS
    print(ele)            # by the element function
    print(sep="\n",end="")
for i in range(len(t)):    # by the index function
    print(t[i],end=", ")

(10, 20, 30, 40, 50, 60)
(10, 20, 30, 40, 50, 60)
(10, 20, 30, 10, 20, 30, 10, 20, 30)
(10, 20, 30, 10, 20, 30)
3
3
10
40
30
60
210
True
False
10
20
30
40
50
60
10, 20, 30, 40, 50, 60,

In [13]:
# BUILT IN METHODS----> TUPLE operations
t=(10,20,50,30,40,50,60,50) # tuple formate
print(t.count(10))         # .count() method for count of number of integer 
print(t.count(50))         
print(t.index(30))         # .index() method for find the index value of integer given
print(t.index(40))
l=list(t)     # converting the tuple into the list function
print(l)
l.append(40)  # (.append) that means adding of elements --->ADDIND OF mulitiple ELEMENT-->(syntex error)-->((o/p))        
print(l)
l.insert(3,60) # (.insert) that means adding of elements--->by the middle of index address to point the value adding
print(l)
l.extend([70,80,90]) # (.extend) that means adding of elements-->ADDIND OF mulitiple ELEMENT-->(syntex error)-->((o/p))
print(l)
l.remove(40) # (VALUES REMOVAL FUNCTION)((.remove)(.pop)(dela[]))
print(l)  # (.remove)--->remove the elements in the list & check from the straring operation
l.pop(5)     # (.pop)--->(a.pop(element)--->syntex error)-->(a.pop(index value)-->o/p)
print(l)    # .pop()-->to delete the value in the list by the shuffle part or index value to update 
# delete the value and remaing list availible
del l[5]     # del a[index value]-->(o/p)
print(l)

# IMPORT RANDOM FUNCTION
import random           
random.shuffle(l) # RANDOM.SHUFFLE OF LIST VALUES
print(l)
l.sort()  # .sort()-->not give any argument that means(reverse=False)[ASSENDING ORDER]
print(l)
l.sort(reverse=True) # (.sort(reverse=True)-->given argument that means[DESSENDING ORDER])
print(l)
l.reverse() # function (.reverse())-->by using function to reverse the list.
print(l)

t=tuple(l) # converting lidt into tuple function
print(t)

# NESTED TUPLE 
t=((10,20),(30,40)) # in this nested tuple consists of integer identified by the index value
print(t[1][1])   
# element[(10,20),(30,40)],[(50,60),(70,80)]
# index    0  1    0  1      0   1   0  1
# index      0      1         0        1
# index          0                1
# a[first index][second index][third index]

1
3
3
4
[10, 20, 50, 30, 40, 50, 60, 50]
[10, 20, 50, 30, 40, 50, 60, 50, 40]
[10, 20, 50, 60, 30, 40, 50, 60, 50, 40]
[10, 20, 50, 60, 30, 40, 50, 60, 50, 40, 70, 80, 90]
[10, 20, 50, 60, 30, 50, 60, 50, 40, 70, 80, 90]
[10, 20, 50, 60, 30, 60, 50, 40, 70, 80, 90]
[10, 20, 50, 60, 30, 50, 40, 70, 80, 90]
[10, 20, 80, 60, 70, 50, 30, 50, 40, 90]
[10, 20, 30, 40, 50, 50, 60, 70, 80, 90]
[90, 80, 70, 60, 50, 50, 40, 30, 20, 10]
[10, 20, 30, 40, 50, 50, 60, 70, 80, 90]
(10, 20, 30, 40, 50, 50, 60, 70, 80, 90)
40

# STRINGS

In [ ]:
# STRINGS
# a gruop of characterstics is known as strings.is similar to list.but not impliment in ()[] this cases, 
# impliment in " ",every character having an index value, every character should be taken as string.
# CREATING STRINGS
# ACCESSING ELEMENTS FROM STRINGS.
# SLICING
# SINGLE, DOUBLE, TRIPLE QUOTES.
# FORMAT METHOD
# BASIC OPERATIONS
       # (+,*,len,min,max,sum,membership,iterations)
# BUILT IN METHODS
    # capitalize, center, count, endswith, startswith, find, index, rfind, rindex, isalnum, isalpha,
    # isdigit, isspace, islower, isupper, istitle, ljust, rjust, lower, upper, strip, lstrip, rstrip,
    # max, min, replace, split, swapcase, title, zfill.

In [14]:
# CREATING STRINGS
str="python"
print(type(str))
# ACCESSING ELEMENTS FROM STRINGS.
print(str[0])   # forward index
print(str[-1])  # backward index
# SLICING
str="welcome to python"
print(str[ :11])   # string[starting index value:end of index value]
print(str[5:16])
print(str[7: ])
# SINGLE, DOUBLE, TRIPLE QUOTES
str='wlecome to python programming' # 'your's' not followed this condition of the method (')formate not follwed
print(str)
str="your's"  # str="hello
print(str)         # welcome to python programming"--->syntex error
str="""hello welocome to  
python programming""" # any string can write in multiple line to write in triple
print(str)
# FORMAT METHOD(the value which is having that can be used in the formating method)
print("{0} is an integer and {1} is float".format(10,15.5))
# print("{index value} is an integer and {index value} is float".foramt(a,b))

<class 'str'>
p
n
welcome to
me to pytho
 to python
wlecome to python programming
your's
hello welocome to
python programming
10 is an integer and 15.5 is float

In [ ]:
# BASIC OPERATIONS
s1="python"
s2="programming"
print(s1+s2)
print(s1*2)
print(len(s1))  # length of the string
print(min(s2))  # minimum value of the string
print(max(s2))  # maximum value if the string
# print(sum(s1)) ----> syntex error 
print('p' in s1)   # membership
print('gram' in s2) # order varable can be identify
print('aing' in s2) # disorder varables are can't find
for letter in s1:   # iterations
    print(letter,end="")
for i in range (len(s2)):
    print(s2[i],end="")
# reassining:(s1='welcome to python'),s1[2]='z'{syntex error not supported for reassing(but create new string)}

pythonprogramming
pythonpython
6
a
r
True
True
False
pythonprogramming

In [15]:
# BUILT-IN METHOD:
s="welcome to python programming"
print(s.capitalize()) # initial letter to capital
# .center
print(s.center(33,"*"))  # out of index value submit to enter the symbol for .center to get boeth side symbols
print(s.center(33,"$"))
# .count
print(s.count('o')) # .count method used to find the number of o's in sentence
print(s.count('o',5,len(s))) # .count('given variable',index value,len(s))
print(s.count('om',2,len(s))) # by the method to find the combined variables
# .endswith
print(s.endswith("ing"))  # .endswith using to find boolen's format get the true or false
print(s.endswith('ing',2,len(s))) # .endswith('given variable',index value,len(s))
print(s.endswith("on"))
# .startswith
print(s.startswith("Welcome")) # .startswith using to find boolen's format get the true or false
print(s.startswith('Wel',0,len(s))) # .startswith('given variable',index value,len(s))
print(s.startswith("ing"))
# .sfind
print(s.find('o')) # .find method used to find the index of o's in sentence initially by the value of output index
print(s.find('o',6,len(s)))  # .find('given variable',index value,len(s))--> searching the value from intially
print(s.find('am',5,len(s))) # .find('given variable',index value,len(s))--> searching the value from intially (next step)
# .rfind
print(s.rfind('o')) # .rfind method used to find the index of o's in sentence backward by the value of output index
print(s.rfind('o',21,len(s))) # .find('given variable',index value,len(s))--> searching the value from backward
print(s.rfind('o',2,len(s)))  # (out the value of index get into -1),(bacxkward direction to check the value)
# .index 
print(s.index('o')) # .index() --> to find the value of index from forward 
# .rindex
print(s.rindex('o')) # .rindex()--> to find the value of index from bacward

Welcome to python programming
**welcome to python programming**
$$welcome to python programming$$
4
3
1
True
True
False
False
False
False
4
9
23
20
-1
20
4
20

In [17]:
# .is everthing is boolen function
s1="abc123"
s2="abc"
s3="123"
s4="@#$%"
# .isalnum()
print(s1.isalnum()) # alphabet & numerical values in the string
print(s2.isalnum()) # only alphabet condition is true
print(s3.isalnum()) # only numerical value is true
print(s4.isalnum()) # sysmbol is not considered
print(s2.isalpha()) # .isalpha only identify the alphabets not numerical
print(s3.isalpha()) 
print(s3.isdigit()) # .isdigit only identify the numerical value not alphabet
print(s2.isdigit())
s=" "
print(s.isspace()) # .isspace means to find the space in the string thet means no words in the string only space 
s5="ABC"
s6="aBcD"
print(s2.islower()) # .islower to identify the lower aplhabets not identify the upper
print(s5.isupper()) # .isupper to identify the upper aplhabets not identify the lower
print(s6.islower())
print(s6.isupper())
s7="welcome to python programming"
s8="Welcome"
print(s7.title())  # .title means all the initiel words the letter to be capital
print(s8.istitle()) # .istitle means to be the initial word to be capital

True
True
True
False
True
False
True
False
True
True
True
False
False
Welcome To Python Programming
True

In [16]:
# justify the value (left justify,right justify)-->as like center width & fill character
s="python"
print(s.ljust(10," "))  # just create the space on left after complition of index remaing space
print(s.rjust(10," ")) # just create the space on right after complition of index remaing space 
print(s.upper()) # all the string varibles in captial letters
print(s.lower()) # all the string varible in small letters
t=s.upper()    # all the string varibles in captial letters
print(t)
t=s.lower()  # all the string varible in small letters
print(t)
# strip function(to remove the space starting space and ending space)
s="   python   "
print(s.strip())  # .strip-->remove the space on the both sides
print(s.rstrip()) # .rstrip -->remove the space on the right
print(s.lstrip()) # .lstrip-->remove the space on the left side
# replace 
s="welcome to python programming"
print(s.replace("o","y")) # .replace means to replace the varible in the sentance
print(s.replace("o","y",2)) # (s.replace("given varible","change varible",index)) split the words what we menstioned index
print(s.replace("python","java")) # complete words can be replacing
# .split
print(s.split(" ")) # .split formate using to splint the sentence
print(s.split(" ",2)) # (s.split(" ",index))
print(s.split("o")) # split the varibles what we have to mention the varible
# swapcase
s="welcome"
print(s.swapcase()) # .swapcase used to all the word letter to be capital form
# zfill
print(s.zfill(10))  # by the index value of words completing remaining to be zero's

python
    python
PYTHON
python
PYTHON
python
python
   python
python
welcyme ty pythyn prygramming
welcyme ty python programming
welcome to java programming
['welcome', 'to', 'python', 'programming']
['welcome', 'to', 'python programming']
['welc', 'me t', ' pyth', 'n pr', 'gramming']
WELCOME
000welcome

# SETS

In [20]:
# CREATING SETS
# SETS AS AN ITERABLE
# BASIC OPERATIONS
      # add,remove,discard,pop,clear, len, membership,
    # issubset,issuperset,union,intersection,difference,copy,symmetric_difference,
    # update,intersection_update,difference_update,symmetric_difference_update
# SETS-->{com sep value}-->union,dif,symm (multiple datatypes,duplicates will remove unique,unordered,
# mutables,no reassigning,no index,no slicing)

In [21]:
# CREATING SETS
s={}
print(type(s)) 
s=set() # create the set function
print(s)
s={20,40,10,30}
print(s) # set forms as the disorder value 
s={20,10,50,20,60,10,30,40}
print(s) # set can be element the duplicate elements in the set 
# BASIC OPERATIONS
s={10,20,30,40,50}
print(len(s)) # to identify the length of the set
s.add(60)
print(s) # element to be added to the set function
s.remove(10)
print(s) # element to be remove from the set function
s.discard(100)
print(s) # element to be remove(discard) from the set function if it is not there no set will be availible 
s.discard(40)
print(s) # element to be remove(discard) from the set function
print(s.pop())
print(s) # element to be remove(pop) from the set function
s.clear()
print(s) # all element to be clear from the set function that means empty set
s={10,20,30,40,50}
# del s
# print(s)  # all element to be delete from the set function that means empty set(syntex error)
print(len(s)) # to identify the length of the set
print(10 in s) # to identify the element of the set by the way of boolen function
print(100 in s)
for ele in s: # iteration can defined in the set function
    print(ele,end=" ")

<class 'dict'>
set()
{40, 10, 20, 30}
{50, 20, 40, 10, 60, 30}
5
{50, 20, 40, 10, 60, 30}
{50, 20, 40, 60, 30}
{50, 20, 40, 60, 30}
{50, 20, 60, 30}
50
{20, 60, 30}
set()
5
True
False
50 20 40 10 30

In [25]:
# BOOLEN FUNCTION
s={10,20,30,40,}
t={10,20,30,40,70,80}

print(s.issubset(t)) 
print(s<=t) # every element of s in the t(s subset of t)
print(t.issubset(s))
print(t<=s) # every element of t in the s(t subset of s)
print(t.issuperset(s))
print(t>=s) # every element of t in the s(t superset of s)
print(s.issuperset(t))
print(s>=t) # every element of s in the t(s superset of t)

print(s.union(t))
print(s|t)  # combination elements of both the sets(s union of t)
print(t.union(s))
print(t|s)  # combination elements of both the sets(t union of s)

print(s.intersection(t))
print(s&t) # similar elements in the both the sets(s intersection of t)
print(t.intersection(s))
print(t&s) # similar elements in the both the sets(t intersection of s)

print(s.difference(t))
print(s-t) # unsimilar elements in the sets (s differtial of t) 
print(t.difference(s))
print(t-s) # unsimilar elements in the sets (t differtial of s) 

v=s.copy() # copy of all elements as a set of v
print(v)

True
True
False
False
True
True
False
False
{70, 40, 10, 80, 20, 30}
{70, 40, 10, 80, 20, 30}
{70, 40, 10, 80, 20, 30}
{70, 40, 10, 80, 20, 30}
{40, 10, 20, 30}
{40, 10, 20, 30}
{40, 10, 20, 30}
{40, 10, 20, 30}
set()
set()
{80, 70}
{80, 70}
{40, 10, 20, 30}

In [28]:
s={10,20,30,40,}
t={10,20,30,40,70,80}

# SYMMETRIC_DIFFERENCE()--> in this symmetric difference (differential elements can be show as a given set)
print(s.symmetric_difference(t)) # differential elements can be shown as a given set s
print(t.symmetric_difference(s)) # differential elements can be shown as a given set t

# INTERSECTION_UPDATE()---> (Similar elements in both the sets can be update as a given set)
s.intersection_update(t)
print(s) # (Similar elements in both the sets can be update as a given set s)
t.intersection_update(s) 
print(t) # (Similar elements in both the sets can be update as a given set t)

# UPDATE
v={90,100,80}
s.update(v)
print(s) # s is update from v

{80, 70}
{70, 80}
{40, 10, 20, 30}
{40, 10, 20, 30}
{80, 20, 90, 100, 40, 10, 30}

In [27]:
# DIFFERTIAL_UPDATE --> when the sets consists of a differetiaL elements can be update as a given set
s={10,20,30,40,}
t={10,20,30,40,70,80}

s.difference_update(t)
print(s); # the sets consists of a differetiaL elements can be update as a given set s

s={10,20,30,40,}
t={10,20,30,40,70,80}
t.difference_update(s)
print(t); # the sets consists of a differetiaL elements can be update as a given set t

set()
{80, 70}

In [29]:
# SYMMETRIC_DIFFERENCE_UPDATE (unsimilar elements update as a give set form)
s={10,20,30,40,}
t={10,20,30,40,70,80}

s.symmetric_difference_update(t)
print(s); # (unsimilar elements update as a set s)

s={10,20,30,40,}
t={10,20,30,40,70,80}

t.symmetric_difference_update(s)
print(t); # (unsimilar elements update as a set t)

{70, 80}
{80, 70}

# dictionary

In [ ]:
# creating dictionary
# accessing items from dictionary
# update dictionary
# reassigning iteams
# deleting iteams
# dictionary iteams
# built-in methods
   # clear,copy,items,value,key,update.
# dictionary={key:value}-->{key1:value1,key2:value2,.....}
# keys having no duplicates
# values having duplicates EX d={"a":2,"b":3}
# access the indexing not value of integers are start with the 0,1,2...
# character can be written in betweeen the " "
# to define the value by the key formate not using the index. EX d['a']=2
# empty dictonary can be indentify by the {} or dict

In [30]:
# CREATING DICTIONARY
d={}
print(type(d)) # to create the dictionary formate by the function formate
d=dict()
print(type(d))

# ACCESSING THE ITEMS
d={"name":"abc","per":85}
print(d)  
print(d['name']) # accessing the iteams that means to be identify value by the key.
print(d['per'])

# UPDATE DICTIONARY
d1={"college":"abcd"}
d.update(d1)  # update the dictionary set of d1 into the set d
print(d)  #  that meanns adding of dictionary set d1 into the d

# REASSIGNING ITEAMS
d['vinay']="jaya" # reassigning the value by the way to key, (add the value in the formate)
print(d)

# DELETING ITEAMS 
del d['per'] # delete the value by the formate  (use the key to identify by the value to delete)
print(d)

<class 'dict'>
<class 'dict'>
{'name': 'abc', 'per': 85}
abc
85
{'name': 'abc', 'per': 85, 'college': 'abcd'}
{'name': 'abc', 'per': 85, 'college': 'abcd', 'vinay': 'jaya'}
{'name': 'abc', 'college': 'abcd', 'vinay': 'jaya'}

In [32]:
    # DICTIONARY COMPREHENSION 
d={i:i**2 for i in range(10) if 1}
print(d);   # by the power of 2 to get the all value in the dictionaray formate
d={i:i**3 for i in range(10) if 1}
print(d);   # by the power of cubic to get the all value in the dictionaray formate
d={i:i**3 for i in range(10) if i%2==0}
print(d);   # even value of cubic to get the even value in the dictionaray formate
d={i:i+2 for i in range(10) if 1}
print(d);   # adding function to use to get the all value in the dictionaray formate
d={i:i+2 for i in range(10) if i%2==0}
print(d);   # even adding values to get the adding even value in the dictionaray formate 
d={i:i-2 for i in range(10) if 1}
print(d)    # subtract function to use to get the all value in the dictionaray formate
d={i:i-2 for i in range(10) if i%2==0}
print(d)    # even subtract values to get the all value in the dictionaray formatet
d={i:i/2 for i in range(10) if 1}
print(d)    # dividing function to be use to get the all value in the dictionaray formate
d={i:i/2 for i in range(10) if i%2==0}
print(d)    # even dividing values to get the all value in the dictionaray formate
d={i:i*2 for i in range(10) if 1}
print(d)    # multiple function to be use to get the all value in the dictionaray formate
d={i:i for i in range(10) if 1}
print(d)    # below the range of every value can be get the all value in the dictionaray formate

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}
{0: 0, 2: 8, 4: 64, 6: 216, 8: 512}
{0: 2, 1: 3, 2: 4, 3: 5, 4: 6, 5: 7, 6: 8, 7: 9, 8: 10, 9: 11}
{0: 2, 2: 4, 4: 6, 6: 8, 8: 10}
{0: -2, 1: -1, 2: 0, 3: 1, 4: 2, 5: 3, 6: 4, 7: 5, 8: 6, 9: 7}
{0: -2, 2: 0, 4: 2, 6: 4, 8: 6}
{0: 0.0, 1: 0.5, 2: 1.0, 3: 1.5, 4: 2.0, 5: 2.5, 6: 3.0, 7: 3.5, 8: 4.0, 9: 4.5}
{0: 0.0, 2: 1.0, 4: 2.0, 6: 3.0, 8: 4.0}
{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}
{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9}

In [33]:
d={"name":"abc","per":85}
print(len(d))

d.clear() # clear the dictionary
print(d)

# subset dictionary
d={"name":{"frame":"python","lname":"programming"},"per":85}
print(d)
print(d['name'])
print(d['name']['lname'])

# COPY that means copy the whole dictionary into another
s=d.copy()
print(s)
d=s.copy()
print(d)

# ITEMS select the all items in the dictionary
print(d.items())
# VALUES select the value in the dictionary
print(d.values())
# KEYS select the keys in the dictionary
print(d.keys())

2
{}
{'name': {'frame': 'python', 'lname': 'programming'}, 'per': 85}
{'frame': 'python', 'lname': 'programming'}
programming
{'name': {'frame': 'python', 'lname': 'programming'}, 'per': 85}
{'name': {'frame': 'python', 'lname': 'programming'}, 'per': 85}
dict_items([('name', {'frame': 'python', 'lname': 'programming'}), ('per', 85)])
dict_values([{'frame': 'python', 'lname': 'programming'}, 85])
dict_keys(['name', 'per'])

# FUNCTIONS

In [34]:
# TYPE OF FUNCTIONS 
   # BUILT-IN FUCTIONS (factorial,power,square,sin,cos)
   # user defined functions,lambda functions-anonymous(no mains)
# FUCTION CALL
# FUNCTION DEFINITION
# TYPE OF ARGUMENTS
     # required arguments,default argument,keyword arguments,arbitary argument
# MULTIPLE RETURNS
# LOCAL AND GLOBAL VARIABLES.
# LAMBDA FUNCTIONS
# RECURSION.
   # function declaration(not declare function in the python)  --> user defination function-top position we write
   # function call                                             --> function call(user define function-->start def keyword)
   # function definition

In [36]:
def display():       # user definition function
    print("welcome to python")   # user definition function
display()  # function call

def display(str):  # user definition function
    print("hello", str ,"welcome to python") # user definition () 
display("venkatesh")

welcome to python
hello venkatesh welcome to python

In [37]:
def add(a,b):   # user define function 
    c=a+b       # adding condition of the function
    print(c)   # print the fuction
add(10,20)      # function call for adding

def add(a,b):
    c=a+b      # adding condition of the function
    return c   # return that means a function must be return to the call function of the elements.
res=add(96,80) # result to be display by th call function
print(res)

def subtract(a,b):
    c=a-b     # subtract condition of the function
    return c 
res=subtract(96,80)
print(res)

def multiple(a,b):
    c=a*b    # multiple condition of the function
    return c
res=multiple(96,80)
print(res)

def divide(a,b):
    c=a/b    # divide condition of the function
    return c
res=divide(96,80)
print(res)

def power(a,b):
    c=a**b   # power condition of the function
    return c
res=power(96,80)
print(res)

30
176
16
7680
1.2
381679331735363428835846370550776822419124838390000957031986744866468942475602925069671162430805011777407784271781596964068259126677943771211245147045784190976

In [38]:
# REQUIRED ARGUMENT
# ---> no. of parametes should match in both function call & def
# ---> position argument(same position having)
def display(a,b):
    print(a,b); # dispaly a--> a=10 , b-->b=20
display(10,20)

def display(b,a): # b1 ,a1
    print(a,b); # dispaly b1--> 10=b , a1-->20=a
display(10,20)

10 20
20 10

In [39]:
# DEFAULT ARGUMENTS
# No. of parameters amy not be equal in both function call & definition.
# default argument should be listed end of the parameter list
def display(a,b=20):
    print(a,b); # dispaly a--> a=10 , b--> b=20
display(10)

def display(b,a=200): # b1 ,a1
    print(a,b); # dispaly a1-->200=a
display(10)

10 20
200 10

In [ ]:
# KEYWORD ARGUMENT
# parameter (match or doesn't match)
# variables names to be used (keywords)
# no need to follow the position argument.
def display(a,b,c):
    print(a,b,c) # dispaly a--> a=10 , b--> b=20
display(c=-10,a=20,b=60) # by the following of key words to display the value

20 60 -10

In [42]:
# ORBITARY ARGUMENT
# function definition-->only one argument to pass-->variable name
# function call-any no.1 argument to be pass
def display(*marks):
    print(marks)
    print(type(marks))
display(90,80,52,64,35,75,62)

def display(*marks):
    print(marks[2]) # multiple value from function call to assign a single variable
display(90,80,52,64,35,75,62)  # for function definition [tuple] formation

(90, 80, 52, 64, 35, 75, 62)
<class 'tuple'>
52

In [43]:
# MULTIPLE RETURN
def display(a,b):
    return a,b  # multi values can be obtained by the function values

res=display(10,20)

print(res)
print(res[0])
print(res[1])

(10, 20)
10
20

In [ ]:
# LOCAL AND GLOBAL VARIABLE
# VARIABLES CAN BE WRITTEN AN UPWARD OF FUNCTION DEFINITION
a=100 # Global variable
def display():
    print(a) # local value(inside function)
display()
print(a) # global value(outside function)

100
100

In [ ]:
# local variable and global variable with the same naming
a=100 # Global variable # without the global value we don't get the value
def display():
    a=500  # local variable(first preffernce)
    print(a) # local value(inside function){at function declaration}
display()
print(a) # global value(outside function)

500
100

In [47]:
z=100  # global value
def display():
    global z # global value repeat
    z=z+1  # condition of the function
    print(z)
display()

101

In [48]:
# LAMBDA FUNCTION (start with lambda keyword)
add=lambda a,b:a+b
print(add(1,3))

subtract=lambda a,b:a-b
print(subtract(1,3))

multiple=lambda a,b:a*b
print(multiple(6,3))

divide=lambda a,b:a/b
print(divide(6,3))

power=lambda a,b:a**b
print(power(54,3))

4
-2
18
2.0
157464

In [ ]:
# # RECURSION
# # calling function-->calling function itself
# def display():
#    display()
# # display() #(to stop by the base condition)

In [49]:
# FACTORIAL
def fact(n):
    if n==0 or n==1:
        return 1
    else:
        return n*fact(n-1)
print(fact(4))

24

In [50]:
# GCD
def gcd(n):
    if n==0 or n==1:
        return 1
    else:
        return n*gcd(n-1)
print(gcd(4))

24

# FILES

In [51]:
# FILES --> OUTPUT STORE(SAVE OUTPUT) --> READ --> {OPEN}(READ/WRITE){CLOSE}
# open("filename","mode")
# filename (to point out by the file object){text files --> binary{othert}(text files)}
# read mode --> only read
# write mode --> only write
# append mode

In [55]:
# fo=open("hello.text","w") {to create file ready to write}
# fo.close()  
# # fo=open("hello.text","r")
# fo.read()  {after creating the file ready to read}
fo=open("hello.txt","w")
fo.write("hello")
fo.write(" welcome")
fo.close()

In [56]:
fo=open("hello.txt","r")
print("fo1.read(5)")
lines = fo.readlines()
for line in lines:
        print(line,end = '')
fo.close()

fo1.read(5)
hello welcome